.card {
  @apply flex justify-center items-center;
  @apply text-2xl font-bold;
  @apply rounded-xl;
  @apply relative;
  @apply bg-white/80;
  @apply cursor-pointer;
  flex: 1;
  box-shadow:0px 3.4px 2.7px rgba(0, 0, 0, 0.022),
  0px 8.7px 6.9px rgba(0, 0, 0, 0.031),
  0px 17.7px 14.2px rgba(0, 0, 0, 0.039),
  0px 36.5px 29.2px rgba(0, 0, 0, 0.048),
  0px 100px 80px rgba(0, 0, 0, 0.07);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: none;
}

.card svg {
  @apply mr-3;
  @apply text-5xl;
  @apply text-sky-700;

}

@media screen and (max-width: 1200px) {

}