.dashboard__cardsContainer {
  @apply w-full h-3/5;
  @apply mt-8;
  @apply px-10;
  @apply grid;
  grid:
    "clasificar consejos historial" 1fr
    "last-scan last-scan mri" 1fr
    "last-scan last-scan ayuda" 1fr
    / 1fr 1fr 1fr;
  gap: 32px;
}

.lastScan {
  @apply w-full h-full;
  @apply flex justify-between items-center;
  @apply mx-8;
  @apply py-8;
}

.lastScan__image {
  @apply rounded-xl;
  @apply overflow-hidden;
  @apply relative;
  @apply w-1/2 h-full;
}

.lastScan__info__title {
  @apply text-3xl;
  @apply font-bold;
  @apply mb-2;
}

.lastScan__info__date {
  @apply text-sm;
  @apply font-bold;
  @apply mb-2;
}

.lastScan__info__descripcion {
  @apply text-lg;
  @apply font-bold;
  @apply mb-2;
}

.lastScan__info__descripcion > span {
  @apply text-sky-700;
}

@media screen and (max-width: 1200px) {

  .dashboard__cardsContainer {
    @apply flex flex-col;
    @apply mt-0 pb-28;
    height: fit-content;
  }

  .lastScan {
    @apply flex-col;
    @apply text-center;
  }
}

@media screen and (max-width: 430px) {
  .dashboard__cardsContainer {
    @apply pr-4;
  }
}
